/*腾讯字体*/
@font-face {
  font-family: TTTGB;
  src: url(https://www.wulintang.net.cn/ziti/TTTGB.ttf);
}

/*九叠字体*/
@font-face {
  font-family: jiudie;
  src: url(https://www.wulintang.net.cn/ziti/jiudie.ttf);
}

/*繁体字体*/
@font-face {
  font-family: FZCuJinLFW;
  src: url(https://www.wulintang.net.cn/ziti/FZCuJinLFW.TTF);
}

/*楷书字体*/
@font-face {
  font-family: biao;
  src: url(https://www.wulintang.net.cn/ziti/biao.ttf);
}

@font-face {
  font-family: DFPKingGothicGB-Light;
  src: url(https://www.wulintang.net.cn/ziti/DFPKingGothicGB-Light.ttf);
}

body {
  font-family: TTTGB, sans-serif;
}
